<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>{{ title }}</h2>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">
        <i class="bi bi-plus-circle"></i> Nouvel utilisateur
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- <app-user-list></app-user-list> -->
  </div>
</div>

<!-- Modal pour le formulaire d'utilisateur -->
<div class="modal fade" id="userModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulaire utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <!-- <app-user-form></app-user-form> -->
      </div>
    </div>
  </div>
</div>
